// Animations
@keyframes heroBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% -100%;
  }
}

// Global Styles
body {
  min-height: 200vh;
}

section {
  padding: 5rem 0;
}

h1 {
  font-weight: bold;
}

// Class Customisations
.btn {
  text-transform: uppercase;
  font-weight: 500;
  transform: skewX(-8deg) translateX(4px);
}

.btn span {
  display: block;
  transform: skew(8deg);
}
